.contentContainer {
    align-self: center;
    width: 1300px;
    min-height: 100vh;

    font-family: 'Exo 2', sans-serif;
    color: #F4FAFF;
    text-align:center;
}

@media only screen and (max-width: 1300px) {
    .contentContainer {
        width: 800px; 
    }
}