.AceEditor {
    position:absolute;
}

.Container {
    height:100%; /* I really don't understand why height 100% here works */
    width:100%;
    position:relative;
}

/* TODO: if viewport can't fit both editor and game, put editor below game! No changing width! */